<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" id="myfooter">

    <div style="background-color: #192f46;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-2 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left text-white mb-4 mb-md-0">
            <h5 class="mb-0">Get connected with us on social networks!</h5>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right ">

            <!-- Facebook -->
            <a class="fb-ic text-white" href="https://www.facebook.com">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic text-white" href="https://www.twitter.com">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic text-white" href="https://www.gmail.com">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" align="center">Baba Banarsi Dass</h6>
          <h6 class="text-uppercase font-weight-bold" align="center">Perfumers</h6>
        <br>
          <p>Good manners and good cologne is what transforms the man into a gentleman!.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="{% url 'Essential' %}">Essential Oils</a>
          </p>
          <p>
            <a href="{% url 'Aroma' %}">Aroma Therapy Oils</a>
          </p>
          <p>
            <a href="{% url 'Attar' %}">Attars</a>
          </p>
          <p>
              <a href="{% url 'Floural' %}">Floral Waters</a>
            </p>
       
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href=" {% url 'Account' %}">Your Account</a>
          </p>
          <p>
            <a href="{% url 'mnv' %}">Mission and Vision</a>
          </p>
          <p>
            <a href="{% url 'Quality' %}">Quality Assurance</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Kannauj-209725, UP, IND</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> Rahulmehrotra@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 91 959 893 2922</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 91 914 029 9522</p>
          <p>
              <i class="fas fa-file mr-3"></i>GSTIN : 09ADOPM2188G1Z4</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright &copy;
        <span class="year"></span> :
      <a href="https://www.linkedin.com/in/vishal-singh-450986166/"> VS_Production</a> 
      -All Rights Reserved.
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


