
{% extends 'base.html' %}
{% load humanize %}
{% block title %} | {{fps.title}}  {% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">{{fps.title}}</h1>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Featured Products</a>
              </li>
              <li class="breadcrumb-item active">{{fps.title}}</li>
            </ol>
          </nav>
        </div>
      </section>
      {% include 'partials/_alert.html' %}
      <!-- Listing -->
      <section id="listing" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <!-- Home Main Image -->
              <img src="{{ fps.photo_main.url }}" alt="" class="img-main img-fluid mb-2">
              <!-- Thumbnails -->
              <div class="row mb-5 thumbs">
                  {% if fps.photo_1 %}
                <div class="col-md-2">
                  <a href="{{ fps.photo_1.url }}" data-lightbox="home-images">
                    <img src="{{ fps.photo_1.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
                {% if fps.photo_2 %}
                <div class="col-md-2">
                  <a href="{{ fps.photo_2.url }}" data-lightbox="home-images">
                    <img src="{{ fps.photo_2.url }}" alt="" class="img-fluid">
                  </a>
                </div>
                {% endif %}
              </div>
              <!-- Fields -->
              <div class="row mb-5 fields">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-money-bill-alt"></i> Minimum Price:
                      <span class="float-right">{{ fps.price }}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-square"></i> Botanical Name:
                      <span class="float-right">{{fps.Botanicalname}}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-money-bill-alt"></i> Maximum Price:
                      {% if fps.maxprice != 1 %}
                      <span class="float-right">{{ fps.maxprice | intcomma }}</span>
                      {% else %}
                      <span class="float-right">NIL</span>
                      {% endif %}
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-square"></i> Origin:
                      <span class="float-right">{{fps.origin}}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
    
              <!-- Description -->
              <div class="row mb-5">
                <div class="col-md-12">
                       <p> <i>{{fps.shordesc }}</i>
                        <span class="float-right"></span>
                       </p>
                       <p> <i>{{fps.longdesc }}</i>
                        <span class="float-right"></span>
                       </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-3">
                <span align="center"><b>Product Variations</b></span>
                <div class="card-body">
                        {% if fps.variation1 != '' %}
                        <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation1}}
                        </li>
                        {% else %}
                        <span align="center">No Product variation available.</span>
                        {% endif %}
                        {% if fps.variation2 != '' %}
                        <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation2}}
                         </li>
                         {% endif %}
                         {% if fps.variation3 != '' %}
                         <li class="list-group-item text-secondary">
                         <i class="fas fa-square"></i> {{fps.variation3}}
                         </li>
                         {% endif %}
                         {% if fps.variation4 != '' %}
                         <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation4}}
                        </li>
                        {% endif %}
                        {% if fps.variation5 != '' %}
                        <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation5}}
                        </li>
                        {% endif %}
                        {% if fps.variation6 != '' %}
                        <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation6}}
                        </li>
                        {% endif %}
                        {% if fps.variation7 != '' %}
                        <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation7}}
                        </li>
                        {% endif %}
                        {% if fps.variation8 != '' %}
                        <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation8}}
                        </li>
                        {% endif %}
                        {% if fps.variation9 != '' %}
                        <li class="list-group-item text-secondary">
                        <i class="fas fa-square"></i> {{fps.variation9}}
                        </li>
                        {% endif %}
                </div>
              </div>
              <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Inquiry</button>
            </div>
          </div>
        </div>
      </section>
      {% include 'partials/enquiry.html' with key=fps %}
    
    
{% endblock %}
  